*{
    margin: 0;
    padding:0;
    box-sizing:border-box
}


.open_sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}

body {
  height: 100%;
}

header{
    background-color: rgb(31, 108, 114);
    width: 100%;
    height: 60px;
}

.TiendadeMusica_card{
    display: flex;
    align-items: center;
}

.TiendadeMusica_card img{
    width: 30px;
    height: 30px;
    margin-right: 8px;
    
}

/* repasar esta parte */

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
}

.menu_inicial ul{
    display: flex;
    list-style: none;
    gap: 20px;

}

.menu_inicial a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.contenedor_limite{
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    gap: 16px;
    background-color: rgb(231, 231, 231);
    border-radius: 12px;
    padding: 10px;
    scroll-snap-type: x mandatory;
}

.card {
    flex: 0 0 auto;
    width: 220px;
    height: 275px;
    background-color: rgb(155, 196, 199);
    padding: 10px;
    margin: 0;
    text-align: center;
    border-radius: 10px;
    scroll-snap-align: start;
}

.card:hover{
    transform: scale(1.02);
}

.menu_inicial ul li a:hover{
    color: rgb(59, 59, 59) ;
}

.contenedor_limite::-webkit-scrollbar {
    height: 8px;
}

.contenedor_limite::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 4px;
}

.contenedor_instrumentos{
    border-style: none;
    margin: 10px;
    background-color:rgb(194, 194, 194);
    padding: 10px;
    border-radius: 15px;
}

.card_redes{
    border-style: solid;
    border-radius: 10%;
    padding: 10px;
    margin: 10px;
    max-width: 230px;
    min-width: 260px;
    text-align: center;
}

.contenedor_redes{
display: flex;
flex-wrap: wrap;
justify-content: center;
}

img{
    height: 180px;
    width: 180px;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(31, 108, 114);
    text-align: center;
}

.promociones{
    text-align: center;
    padding: 20px;
}

.promociones h4{
    font-size: 35px;
    text-decoration: underline;
    color: black;
}

p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

footer{
    background-color:rgb(31, 108, 114) ;
    padding: 10px;
}

footer h4{
    color: rgb(15, 47, 49);
    text-align: center;
}

/* corroborar la parte de sucursales */

.imagen_sucursales{
    max-width: 550px;
    width: 100%;
    max-height: 450px;
    margin-top: 10px;
}

.imagen_sucursales img{
    width: 400px;
    height: 300px;
    object-fit: cover; /* Recorta la imagen para que encaje sin deformarse */
}

.sucursales{
    background-color: rgb(155, 196, 199);
    max-width: 550px;
    min-width: 300px;
    min-height: ;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

footer img{
    width: 20px;
    height: 20px;
}

.section_sucursales{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 756px){
    .promociones h4{
        font-size: 30px;
    }
    
}

@media screen and (max-width: 680px){
    header{
        height: 90px;
    
    }
    .TiendadeMusica_card{
        width: 180px;
    }
    .menu_inicial{
        margin-top: 5px;
    }
    .promociones h4{
        font-size: 25px;
    }
}

@media screen and (max-width: 580px) {
    header{
        
    }
    .menu_inicial ul{
        flex-direction: column;
        gap: 0.1px;
        margin-top: -5px;
        text-align: end;
    }
    .promociones h4{
        font-size: 20px;
    }
}

@media screen and (max-width: 464px){
    .promociones h4{
        font-size: 17px;
    }
}

@media screen and (max-width: 440px){
    .TiendadeMusica_card h1{
        font-size: 20px;
        margin-top: -10px;
    }
    header{
        height: 70px;
    }
    .menu_inicial ul{
        font-size: 15px;
        margin-top: -14px;
    }
}

@media screen and (max-width: 406px){
    
}

@media screen and (max-width: 334px) {
    header{
        height: 70px;
    }
}
